body{
  margin: 0;
  background-color: black;
  height: 100vh;
  overflow: hidden;
}

/* intro scene */
.intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease;
}

.intro-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90vw;   /* prevents overflow on small screens */
}

/* text */
.first-text {
  font-family: "Playfair Display SC", serif;
  color: white;
  font-size: clamp(0.95rem, 2vw, 1.25rem);
  margin-bottom: 8px;
  opacity: 0;
  letter-spacing: 0.25em;
  transform: translateY(10px);
  text-align: center;
  white-space: nowrap;   /* prevents breaking into 2 lines */
  animation:
    textAppear 2.5s ease-out forwards,
    textDisappear 2s ease-in forwards;
  animation-delay:
    2.5s,
    5.8s;
}

.name-text{
  font-family: "Playfair Display SC", serif;
  color: white;
  margin-top: 0.4rem;      /* very small gap */
  font-size: clamp(1.2rem, 2.8vw, 1.7rem);
  letter-spacing: 0.25em;
  opacity: 0;
  animation: nameAppear 2s ease forwards;
  animation-delay: 7s;
}

/* line */
.line {
  width: 0;
  height: 1px;
  background-color: white;
  opacity: 0;
  animation: 
    appearAndGrowLine 2.5s ease forwards,
    disappearLine 0.8s ease-in forwards;
  animation-delay: 
    1s,
    6.5s;
}

/* animations */
@keyframes appearAndGrowLine {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 110%;   /* line always matches text width */
    opacity: 1;
  }
}

@keyframes disappearLine {
  from {
    width: 110%;
    opacity: 1;
  }
  to {
    width: 0;   /* line always matches text width */
    opacity: 0;
  }
}

@keyframes textAppear {
  from {
    opacity: 0;
    letter-spacing: 0.25em;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    letter-spacing: 0.05em;
    transform: translateY(0);
  }
}

@keyframes textDisappear{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

@keyframes nameAppear{
  from{
    opacity: 0;
    transform: translateY(6px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

.portfolio{
  height: 100vh;
  background-color: #222;  /* temporary */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity 1s ease;
}



